/**
 *	Wii Demo CSS
 *
 *	Uses a basic CSS reset, and then some very rudimentary styles to make stuff easy
 *	on the eyes with the Wii console.
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, kbd, q, s, samp,
small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
:focus { outline: 0; }
body { line-height: 1; }
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

html {
    color: #333;
	font: normal 24px/28px helvetica, arial, sans-serif;
	padding: 0px;
    background: #fff;
	overflow: hidden !important;
}

body { overflow: hidden !important; padding: 20px; }

h1 { background-color: #42a2cc; color: #f9f9f9; font-size: 50px; padding: 10px; }

a, a:visited { 
	background-color: #42a2cc; 
	color: #f9f9f9; 
	padding: 3px 5px; 
	text-decoration: none; 
	display: inline-block;
}

a:hover { background-color: #147ba8; }

p {
	padding: 10px;
	margin-bottom: 10px;
}

/*	"Players". ;) */
.player { position: absolute; top: 680px; width: 26px; height: 26px; text-align: center; border: 2px solid #010101; padding: 10px; }
.player span { background-color: #f9f9f9; padding: 5px 5px 4px; font-weight: bold; }
#player_1 { background-color: #ef1419; color: #ef1419; left: 500px; }
#player_2 { background-color: #13c32c; color: #13c32c; left: 580px; }
#player_3 { background-color: #e6d01a; color: #e6d01a; left: 660px; }
#player_4 { background-color: #af0bb1; color: #af0bb1; left: 740px; }